node_modules
.env
.env.*
!.env.example
.next
.open-next
.wrangler
out
dist
.DS_Store
*.pem
.env*.local
.dev.vars
npm-debug.log*
.vercel
next-env.d.ts
client_secret_790859697143-rc3tgtgejdhoeoaqi300nbbnbj4sjetq.apps.googleusercontent.com (1).json
