PORT=4000
NODE_ENV=development


MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@YOUR-CLUSTER.mongodb.net/hopebed
JWT_SECRET=replace-with-at-least-32-random-characters
GOOGLE_CLIENT_ID=your-google-web-client-id

R2_ACCOUNT_ID=YOUR_REAL_ACCOUNT_ID
R2_BUCKET_NAME=hopebed-media
R2_ACCESS_KEY_ID=YOUR_REAL_ACCESS_KEY_ID
R2_SECRET_ACCESS_KEY=YOUR_REAL_SECRET_ACCESS_KEY
R2_PUBLIC_URL=YOUR_REAL_R2_PUBLIC_URL
R2_REGION=auto

CORS_ORIGIN=http://localhost:3000